body{
    overflow: hidden;
}

@font-face {
    font-family: PostGrotesk;
    src: url('../font/post-grotesk/PostGrotesk-AllStyles-v1.010-WEBFONTS/PostGrotesk-Light.woff');
    font-weight: 100;
}

@font-face {
    font-family: PostGrotesk;
    src: url('../font/post-grotesk/PostGrotesk-AllStyles-v1.010-WEBFONTS/PostGrotesk-Book.woff');
    font-weight: 200;
}

@font-face {
    font-family: PostGrotesk;
    src: url('../font/post-grotesk/PostGrotesk-AllStyles-v1.010-WEBFONTS/PostGrotesk-Medium.woff');
    font-weight: normal;
}

@font-face {
    font-family: PostGrotesk;
    src: url('../font/post-grotesk/PostGrotesk-AllStyles-v1.010-WEBFONTS/PostGrotesk-Bold.woff');
    font-weight: bold;
}

* {
    font-family: PostGrotesk;
    font-weight: normal;
}

.home {
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.home-header {
    background-color: #282c34;
    display: flex;
    font-size: 15px;
    color: white;
    height: 70px;
    padding-left: 10%;
}

.home-main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
}

.home-left {
    align-self: flex-start;
    height: 500px;
    width: 58%;
}

.tab {
    margin-top: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 18.5%;
}

.tab-links {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 4px solid #99ceff45;
    color: #bfc5cab5;
    padding-left: 6%;
    width: 10.1vw;
}

.link-1 {
    border-color: #3DAADE;
    color: #99ceff;
}

.tab-links h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.tab-links h5 {
    margin-bottom: 5px;
    margin-top: 0;
}

.transaction {
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 26%;
}

.transaction h3 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #9f9ca2;
    font-size: medium;
}

.transaction h2 {
    font-size: larger;
}

.transaction-box {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    background-color: inherit;
    border: 1.5px solid #bfc5cab5;
    border-top: none;
    color: #bfc5cab5;
    height: 110px;
    width: 35vw;
    padding-left: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.transaction-box-text {
    display: flex;
    flex-direction: column;
}

.transaction-box h1 {
    margin: 0;
    color: black;
}
.transaction-box h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.box-1 {
    background-color: #a3d6ef14;
    color: #3DAADE;
    border: 1.5px solid #3DAADE;
    border-top: 1px solid #3DAADE;
    border-right: 1px solid #3DAADE;
    border-radius: 5px 5px 0 0;
}

.currency-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfa;
    color: #585858;
    width: 75px;
    height: 40px;
    border: 1px solid #bfc5cab5;
    border-radius: 20px 3px 3px 20px;
}

.currency-img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.next-btn {
    background-color: #3daadec2;
    color: white;
    width: 80px;
    height: 45px;
    border: 1px solid #3DAADE;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.next-btn:hover{
    background-color: #3DAADE;
}

.next-btn:active{
    outline-style: hidden;
}

.next-btn h3 {
    font-size: large;
    color: white;
    margin-top: 11px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    width: 39vw;
    border-top:0.5px solid #bfc5cab5;
    color: #3DAADE;
}

.footer h6 {
    margin-top: 15px;
}

.footer-start {
    display: flex;
    justify-self: flex-start;
    margin-right: auto;
    color: #bfc5cab5;
}
.footer-legal {
    padding-left: 20px;
}

.home-right {
    align-self: flex-end;
    border-left: 0.4px solid #CBCBCA;
    background-color: #f9f8f8;
    width: 45vw;
    height: 95vh;
}

.home-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width: 350px;
    height: 390px;
    border: 1px solid #bfc5cab5;
    border-radius: 5px;
}

.exchange-details {
    display: flex;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    border-bottom: 1px solid #bfc5cab5;
    color: #bfc5cab5;
}

.exchange-right{
    justify-content: flex-end;
}

.exchange-details h4{
    padding-left: 10px;
    width: 80%;
}

.exchange-details h5{
    padding-left: 10px;
}

.question-image {
    width: 15px;
    height: 15px;
    padding-right: 20px;
}

.last-box {
    justify-content: center;
    border-bottom: none;
    border-top: 1px solid #bfc5cab5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffb801;
}

.exchange-details-large {
    display: flex;
    width: 100%;
    flex-grow: 10;
    color: rgba(173, 179, 184, 0.71);
    padding-bottom: 20px;
}
.whitebg {
    background-color: white;
}
.col-1 {
    padding-left: 10px;
    width: 50%;
    height: 90%;
}

.col-2 {
    text-align: right;
    padding-right: 10px;
    width: 50%;
    height: 90%;
}

.black {
    color: #676767;
}

.blue {
    color: #3DAADE;
}