.home {
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.home-header {
    background-color: #282c34;
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    color: white;
    height: 70px;
    padding-left: 10%;
}

.home-main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
}