.tab {
    background-color: white;
    display: flex;
    width: 41vw;
    justify-content: center;
}

.tab-links {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border-bottom: 5px solid #99ceff45;
    color: #bfc5cab5;
    width: 25%;
    padding-left: 8%;
}

.link-active {
    border-color: #3DAADE;
    color: #99ceff;
}

.tab-links h4 {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
}

.tab-links h5 {
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: bold;
}