#page-wrap {
  width: 80%;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-header {
  background-color: #282c34;
  display: flex;
  font-size: 15px;
  color: white;
  width: 100%;
  height: 70px;
  padding-left: 150px;
}

.App-link {
  color: #61dafb;
}

.home-main {

  border: solid #282c34;
  border-width: 0 1px 0 1px;
  height: 500px;
}
